:root
{
    --primary: #4a99ff;
    --primary-hover: hsl(214, 100%, 70%);
    --primary-active: hsl(214, 100%, 60%);
    --primary-hover-opaque: rgba(74, 153, 255, 0.07);
    --primary-active-opaque: rgba(74, 153, 255, 0.1);

    --white: #ffffff;
    --off-white: #f6f8f9;
    --grey-1: #f7f8f9;
    --grey-2: #e9ecee;
    --grey-3: #879099;
    --font: #161b25;
}